doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='resources/css/style.css')
    title Mes activités
  body.backgroundImg
    | ";
    | echo    "
    span
      p.info Nom: ".$_SESSION['lName']."
      | ";
      |             echo    "
      p.info Prénom: ".$_SESSION['fName'] ."
      | ";
      |             echo    "
      p.info email: ".$_SESSION['email']."
      | ";
      |             echo    "
      p.info Date de naissance: ".$_SESSION['birthday']."
      | ";
      |             echo    "
      p.info Sexe: ".$_SESSION['sexe']."
      | ";
      |             echo    "
      p.info Taille: ".$_SESSION['height']."
      | ";
      |             echo    "
      p.info Poids: ".$_SESSION['weight']."
    | ";
    |             echo "";
    |             echo "
    .activity-div
      | ";
      | echo "";
      | foreach($_SESSION['activity'] as $activity){
      | echo    "";
      | }
      | echo "
      table
        thead
          tr
            th Nom
            th Date
            th Description
            th Distance (en km)
            th Temps
            th Commencé à
            th Fréquence min
            th Fréquence moy
            th Fréquence max
        tbody
          tr
            td ".$activity->getIdAct()."
            td ".$activity->getDate()."
            td ".$activity->getDescription()."
            td ".$activity->getDistance()."
            td ".$activity->getTotalTime()."
            td ".$activity->getStartTime()."
            td ".$activity->getFreqMin()."
            td ".$activity->getFreqMoy()."
            td ".$activity->getFreqMax()."
      | ";
      |             echo "
    | ";
    |         }elseif(isset($_SESSION) && empty($_SESSION[`activity`])){
    |             echo "
    p
      | Vous n`avez pas encore importé d`activité";
      | }else{
      | echo `
    p Vous devez être connecté.e 
    p
      | `;
      | }
      | ?>
