.header
  nav
    ul
      li
        a(href='activities') Mes Informations
      li
        a(href='upload') Importer une activité
      li
        a(href='users') Créer un compte
      li
        a(href='connect') Se Connecter
      li
        a(href='disconnect') Se déconnecté
