doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Depot fichier nouvelle activite
  body.backgroundImg
    .form-div
      .form-content
        form(method='POST' enctype="multipart/form-data")
          .group-input-section
            p Dépose ci-dessous une activité: 
            input#avatar.input-nomarge(type='file' name='actFile' accept='.json' required='')
            br
            br
            div
              input.btn(type='submit' value='Valider' name='uploadAct-submit')